body {
  margin: 0;
  font-family: sans-serif;
  color: white;

  background: linear-gradient(-45deg, #050816, #0a0f2c, #0d1b4d);
  background-size: 400% 400%;
  animation: bg 10s ease infinite;
}

@keyframes bg {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.container {
  text-align: center;
  padding: 20px;
}

.card {
  background: rgba(0,0,50,0.6);
  margin: 10px auto;
  padding: 14px;
  width: 260px;
  border-radius: 14px;
}

.balance {
  border-left: 5px solid yellow;
}

.chart-box {
  width: 90%;
  max-width: 400px;
  margin: auto;
}

button {
  margin-top: 10px;
  padding: 10px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 200px;
}
